<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="cadastro.css">
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <script>
        function toggleFields() {
            const tipoUsuario = document.querySelector('input[name="tipoUsuario"]:checked').value;
            const alunoFields = document.getElementById("alunoFields");
            const cursoSelect = document.getElementById("curso");

            if (tipoUsuario === "aluno") {
                alunoFields.style.display = "block"; // Mostrar campos de Aluno
                cursoSelect.required = true; // Define como obrigatório
            } else {
                alunoFields.style.display = "none"; // Ocultar campos de Aluno
                cursoSelect.required = false; // Não é obrigatório
            }
        }

            // Chama toggleFields ao carregar a página
            window.onload = toggleFields;
    </script>
</head>
<body>

<div class="header">
    <a href="/">
        <img src="/assinatura.png" alt="Assinatura InovaLab">
    </a>
    <div>
        <a href="/login" class="header-btn">Fazer Login</a>
        <a href="/cadastro" class="header-btn">Fazer Cadastro</a>
    </div>
</div>

<div class="divisao">
    <div class="left-column">
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>

    <div class="container">

        <!-- Espaço reservado para a mensagem -->
        <div id="mensagemEspaco" style="height: 50px;"></div>

        <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>

        <form action="/cadastro" method="post">
            <div class="user-type">
                <label>
                    <input type="radio" name="tipoUsuario" value="aluno" checked onchange="toggleFields()"> Sou Aluno
                </label>
                <label>
                    <input type="radio" name="tipoUsuario" value="professor" onchange="toggleFields()"> Sou Professor
                </label>
            </div>

            <label for="nome">Nome*:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail*:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha*:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Confirme a Senha*:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <div id="alunoFields" style="display: none;">
                <label for="curso">Curso:</label> <br>
                <select name="cursoId" id="curso">
                    <option value="">Selecione um curso</option>
                    <th:block th:each="curso : ${cursos}">
                        <option th:value="${curso.id}" th:text="${curso.nome}"></option>
                    </th:block>
                </select>

                <br><label for="linkPortfolio">Link do Portfólio: </label> <br>
                <input type="url" id="linkPortfolio" name="linkPortfolio"> <br>
            </div>

            <label for="mensagemAberta">Mensagem aberta sobre você:</label>
            <textarea id="mensagemAberta" name="mensagemAberta"></textarea>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>

<div class="footer">
    Quer voltar para a comunidade e aproveitar os fóruns?&nbsp;<a href="/forum">Clique aqui!</a>
    <form th:action="@{/logout}" method="get">
        <button type="submit" class="footer-btn">Logout</button>
    </form>
</div>
</body>
</html>