<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/editar-perfil-professor.css">
</head>

<body>

<div class="header">
    <a href="/home-professor">
        <img src="/assinatura.png" alt="Assinatura InovaLab">
    </a>
    <div>
        <a href="" class="header-btn">Inscrições abertas</a> <!-- AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="" class="header-btn">Minhas inscrições</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="/home-professor/perfil" class="header-btn">Perfil</a>
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>
</div>

<div class="divisao">

    <div class="left-column">
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>

    <div class="container">
        <form th:action="@{/home-professor/editar}" method="post">
            <input type="hidden" name="id" th:value="${professorId}" />

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:value="${nomeUsuario}" required /><br/>

            <p>Email: <span th:text="${email}"></span></p>

            <label for="mensagemSobreVoce">Descrição:</label>
            <textarea id="mensagemSobreVoce" name="mensagemSobreVoce" th:text="${mensagemSobreVoce}"></textarea><br/>

            <button type="submit">Atualizar Perfil</button>
        </form>

        <form th:action="@{/home-professor/excluir}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir seu perfil? Esta ação não pode ser desfeita.');">
            <button type="submit">Excluir Perfil</button>
        </form>

        <div class="botao-perfil">
            <a th:href="@{/home-professor/perfil-professor}" class="button">Voltar para o Perfil</a>
        </div>
    </div>
</div>

<div class="footer">
    <form th:action="@{/logout}" method="get">
        <button type="submit" class="footer-btn"></button>
    </form>
</div>

</body>
</html>
