<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Iniciativa</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/editar-iniciativa.css">
</head>
<body>

<div class="header">
  <a href="/home-professor">
    <img src="/assinatura.png" alt="Assinatura InovaLab">
  </a>
  <div>
    <a href="/home-professor/minhas-iniciativas" class="header-btn">Minhas Iniciativas</a>
    <a href="/home-professor/perfil-professor" class="header-btn">Perfil</a>
    <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
  </div>
</div>

<form th:action="@{/home-professor/editar-iniciativa/{id}(id=${iniciativa.id})}" method="post" class="iniciativa-form">
  <div class="divisao">
    <div class="left-column">
      <h1>Editar Iniciativa</h1>

      <div>
        <label for="titulo"><strong>Título da Iniciativa:</strong></label> <br>
        <input type="text" id="titulo" name="titulo" th:value="${iniciativa.titulo}" class="form-control" placeholder="Digite o título da iniciativa" required />
      </div>

      <div>
        <label for="descricao"><strong>Descrição:</strong></label> <br>
        <textarea id="descricao" name="descricao" class="form-control" placeholder="Digite a descrição" required th:text="${iniciativa.descricao}"></textarea>
          <span th:text="${iniciativa.descricao}"></span>
        </textarea>
      </div>

      <div>
        <label for="aceitaInscricoes"><strong>Aceita Inscrições?</strong></label> <br>
        <input type="checkbox" id="aceitaInscricoes" name="aceitaInscricoes" th:checked="${iniciativa.aceitaInscricoes}" />
      </div>

      <div>
        <label for="dataLimiteInscricoes"><strong>Data Limite para Inscrições:</strong></label> <br>
        <input type="date" id="dataLimiteInscricoes" name="dataLimiteInscricoes" th:value="${iniciativa.dataLimiteInscricoes}" required />
      </div>

      <div class="submit-button">
        <button type="submit" class="btn-atualizar">Atualizar</button>
        <a href="#" th:href="@{/home-professor/minhas-iniciativas}" class="btn-voltar">Voltar</a>
      </div>
    </div>
  </div>
</form>

<div class="footer">
  <form th:action="@{/logout}" method="get">
    <button type="submit" class="footer-btn"></button>
  </form>
</div>

</body>
</html>
