<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - InovaLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home-aluno.css">
</head>

<body>
<div class="header">
    <img src="/assinatura.png" alt="Assinatura InovaLab">
    <div>
        <a href="" class="header-btn">Inscrições abertas</a> <!-- AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="" class="header-btn">Minhas inscrições</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="/home-aluno/perfil" class="header-btn">Perfil</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>
</div>

<main class="container">
    <h2 th:text="'Bem-vindo(a), ' + ${nomeUsuario} + '!'"></h2>

    <form th:action="@{/logout}" method="get">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</main>

<div class="footer">
    Quer voltar para a comunidade e aproveitar os fóruns?&nbsp;<a href="/forum">Clique aqui!</a>
</div>
</body>


</html>
