<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - InovaLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home.css">
</head>
<body>

<div class="header">
    <a href="/">
        <img src="/assinatura.png" alt="Assinatura InovaLab">
    </a>
    <div>
        <a href="/login" class="header-btn">Fazer Login</a>
        <a href="/cadastro" class="header-btn">Fazer Cadastro</a>
    </div>
</div>

<div class="container-fluid main-container">
    <div class="left-column">
        <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>
        <h2>Faça login ou cadastro para fazer parte desta experiência!</h2>
        <div class="btn-group">
            <a href="/login" class="btn btn-secondary">Login</a>
            <a href="/cadastro" class="btn btn-secondary">Cadastro</a>
        </div>
    </div>

    <div class="right-column">
        <img src="/logoMarca.png" alt="Descrição da Imagem">
    </div>
</div>

<div class="footer">
    Quer voltar para a comunidade e aproveitar os fóruns?&nbsp;<a href="/forum">Clique aqui!</a>
</div>

</body>
</html>
