<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center" style="margin-top: 100px;">
    <h1>InovaLab!</h1>

    <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>

    <p>Escolha uma das opções abaixo:</p>
    <a href="/register" class="btn btn-primary">Registrar</a>
    <a href="/login" class="btn btn-secondary">Login</a>
</div>
</body>
</html>
