<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - InovaLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home-aluno.css">
</head>

<body>

<div class="header">
    <a href="/home-aluno">
        <img src="/assinatura.png" alt="Assinatura InovaLab">
    </a>
    <div>
        <a href="" class="header-btn">Inscrições abertas</a> <!-- AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="" class="header-btn">Minhas inscrições</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="/home-aluno/perfil-aluno" class="header-btn">Perfil</a>
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>
</div>

<main class="main-container">
    <h2 class="bem-vindo">Bem-vindo(a) ao</h2>
    <h2 class="inovalab">INOVALAB!</h2>
    <p class="descricao">
        Descubra os projetos inovadores desenvolvidos dentro da CESAR School!
        Venha conhecer iniciativas de alunos e professores além de encontrar oportunidades
        para se envolver e colaborar em projetos que impulsionam a criatividade e a inovação.
    </p>
</main>


<div class="iniciativas">
    <h3>Explore as iniciativas da <span class="cesar-school">CESAR School</span>!</h3>
</div>


<div class="footer">
    <form th:action="@{/logout}" method="get">
        <button type="submit" class="footer-btn"></button>
    </form>
</div>

</body>
</html>
