<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - InovaLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home-aluno.css">
</head>

<div class="header">
    <img src="/assinatura.png" alt="Assinatura InovaLab">
    <div>
        <a href="/minhas-iniciativas" class="header-btn">Minhas Iniciativas</a> <!--Ainda nao esta pegando pois precisa fzr a logica-->
        <a href="" class="header-btn">Perfil</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>

</div>

<body>
<header>
    <h2>Bem-vindo, Professor!</h2>
</header>
</body>

<div class="footer">
    Quer voltar para a comunidade e aproveitar os fóruns?&nbsp;<a href="/forum">Clique aqui!</a>
</div>

</html>
