<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscricoes Abertas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/inscricoes-abertas.css">
</head>

<body>

<div class="header">
    <a href="/home-aluno">
        <img src="/assinatura.png" alt="Assinatura InovaLab">
    </a>
    <div>
        <a href="" class="header-btn">Inscrições abertas</a> <!-- AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="" class="header-btn">Minhas inscrições</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="/home-aluno/perfil-aluno" class="header-btn">Perfil</a>
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>
</div>

<main class="main-container">
    <h2 class="inic">Iniciativas com</h2>
    <h2 class="abertas">inscrições abertas!</h2>
    <p class="descricao">
        Estão abertas as inscrições para esses projetos a mostra da CESAR School! Essa é a sua chance de
        participar de iniciativas inovadoras, ganhar experiência prática e colaborar com outras mentes criativas.
    </p>
</main>



<div class="footer">
    <form th:action="@{/logout}" method="get">
        <button type="submit" class="footer-btn"></button>
    </form>
</div>

</body>
</html>
