<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <!-- Incluindo o Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h2 class="text-center">Login</h2>
  <form th:action="@{/login-professor}" method="post" class="mt-4">
    <div class="form-group">
      <label for="username">Email:</label>
      <input type="text" name="username" class="form-control" id="username" required />
    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" name="password" class="form-control" id="password" required />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p class="text-danger mt-2" th:if="${erro}" th:text="${erro}"></p>
</div>
<!-- Incluindo o Bootstrap JS (opcional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
