<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial - InovaLab</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/home-aluno.css">
</head>

<body>

<div class="header">
  <a href="/home-aluno">
    <img src="/assinatura.png" alt="Assinatura InovaLab">
  </a>
  <div>
    <a href="/home-aluno/inscricoes-abertas" class="header-btn">Inscrições abertas</a>
    <a href="/home-aluno/minhas-iniciativas-aluno" class="header-btn">Minhas inscrições</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
    <a href="/home-aluno/perfil-aluno" class="header-btn">Perfil</a>
    <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
  </div>
</div>

<body>
<h2>Minhas Inscrições</h2>


<div class="row">
  <div class="col-md-4" th:each="iniciativa : ${minhasIniciativas}">
    <!-- Link para detalhes da iniciativa, usando o ID da iniciativa -->
    <div class="card mb-4 initiative-card">
      <div class="card-body">
        <a th:href="@{/home-aluno/iniciativa/{id}(id=${iniciativa.id})}" class="stretched-link"></a>
        <h5 class="card-title" th:text="${iniciativa.titulo}">Título da Iniciativa</h5>
        <p class="card-text" th:text="${iniciativa.descricao}">Descrição da Iniciativa</p>
        <p><strong>Professor Responsável:</strong> <span th:text="${iniciativa.professor != null ? iniciativa.professor.nome : 'Professor não atribuído'}">
                        Nome do Professor
                    </span></p>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <form th:action="@{/logout}" method="get">
    <button type="submit" class="footer-btn"></button>
  </form>
</div>

</body>
</html>
