<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos de Participação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/pedidos-inscricao.css">
</head>
<body>
<div class="header">
    <a href="/home-professor">
        <img src="/assinatura.png" alt="Assinatura InovaLab">
    </a>
    <div>
        <a href="/home-professor/minhas-iniciativas" class="header-btn">Minhas Iniciativas</a>
        <a href="/home-professor/perfil-professor" class="header-btn">Perfil</a>
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
    </div>
</div>

<main class="main-content">

    <h1>Pedidos de Participação</h1>
    <div class="requests" th:each="solicitacao : ${solicitacoes}">
        <div class="request">
            <img src="user1.png" alt="User" class="user-img">
            <span th:text="${solicitacao.aluno.nome}">Nome do Aluno</span>
            <div class="buttons">
                <form th:action="@{/pedidos-inscricao/aceitar/{id}(id=${solicitacao.id})}" method="post">
                    <button type="submit" class="accept-btn">ACEITAR</button>
                </form>
                <form th:action="@{/pedidos-inscricao/rejeitar/{id}(id=${solicitacao.id})}" method="post">
                    <button type="submit" class="reject-btn">REJEITAR</button>
                </form>
            </div>
        </div>
    </div>
</main>

<div class="footer">
    <form th:action="@{/logout}" method="get">
        <button type="submit" class="footer-btn"></button>
    </form>
</div>

</body>
</html>
