<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/perfil.css">
</head>

<body>

   <div class="header">
     <img src="/assinatura.png" alt="Assinatura InovaLab">
     <div>
        <a href="" class="header-btn">Inscrições abertas</a> <!-- AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="" class="header-btn">Minhas inscrições</a> <!--AINDA ESTA "VAZIO", quando fizer a logica, adicionar-->
        <a href="/home-aluno/perfil" class="header-btn">Perfil</a>
        <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
     </div>
   </div>


   <div class="container mt-4">
       <div class="row">
           <div class="col-md-3 text-center">
               <img src="/fotoPerfil.png" alt="Foto do Perfil" class="profile-img">
               <h3 th:text="${userType}"></h3>
               <p th:text="${curso}" ></p>
           </div>
           <div class="col-md-9">
               <div class="profile-header">
                   <h2 th:text="${nomeUsuario}"></h2>
                   <a href="/home-aluno/editar" class="edit-button">
                       <img src="/editar.png" alt="Editar Perfil">
                   </a>
                   <!--<form th:action="@{/home-aluno/editar}" method="get">
                            <button type="submit">Editar Perfil</button>
                        </form>-->
               </div>
               <p th:text="${descricao}"></p>
               <div class="btn-group">
                   <button class="btn">Visualização de Currículo</button>
                   <button class="btn" >Link para portifólio</button> <!--th:text="${linkPortifolio}"-->
               </div>
           </div>
       </div>
       <h4 class="mt-4">Iniciativa(s) de que participa:</h4>
       <div class="row">
           <div class="col-md-6">
               <div class="initiative">
                   <img src="/imagemIniciativa.png" alt="Imagem da Iniciativa">
                   <h5>Iniciativa X</h5>
                   <p>Nam ut justo placerat, eleifend sem at, finibus velit.</p>
               </div>
           </div>
           <div class="col-md-6">
               <div class="initiative">
                   <img src="/imagemIniciativa.png" alt="Imagem da Iniciativa">
                   <h5>Iniciativa Y</h5>
                   <p>Nam ut justo placerat, eleifend sem at, finibus velit.</p>
               </div>
           </div>
       </div>
   </div>

  <!--<h2 th:text="${iniciativa}"></h2>-->
  <!--<h2 th:text="${nomeUsuario}"></h2>-->


  <div class="footer">
      Quer voltar para a comunidade e aproveitar os fóruns?&nbsp;<a href="/forum">Clique aqui!</a>
  </div>
</body>
</html>