<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Professor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/perfilProfessor.css">
</head>

<body>

<div class="header">
  <a href="/home-professor">
    <img src="/assinatura.png" alt="Assinatura InovaLab">
  </a>
  <div>
    <a href="/home-professor/minhas-iniciativas" class="header-btn">Minhas Iniciativas</a> <!--Ainda nao esta pegando pois precisa fzr a logica-->
    <a href="/home-professor/perfil-professor" class="header-btn">Perfil</a>
    <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
  </div>
</div>

<div class="container">
  <section class="profile">
    <div class="profile-left">
      <img src="/fotoPerfil.png" alt="Foto do perfil" class="profile-img">
      <h3 class="user-type" th:text="${userType}"></h3>
    </div>
    <div class="profile-info">
      <h1 class="name" th:text="${nomeUsuario}"></h1>
      <p class="description" th:text="${descricao}"></p>
      <p class="description" th:text="${mensagemSobreVoce}"></p>
      <a href="/home-professor/editar" class="edit-profile-btn">Editar perfil</a>
    </div>
  </section>

  <section class="initiatives">
    <h2>Iniciativas Responsáveis</h2>
    <div class="initiatives-container">
      <div class="initiative-card" th:each="iniciativa : ${iniciativas}">
        <img th:src="${iniciativa.imagem}" alt="Iniciativa" class="initiative-img">
        <div class="initiative-info">
          <h3 th:text="${iniciativa.titulo}"></h3>
          <p th:text="'Professor Responsável: ' + ${iniciativa.professorResponsavel}"></p>
          <p th:text="${iniciativa.descricao}"></p>
        </div>
      </div>
      <div class="initiative-card add-new">
        <div class="add-icon">+</div>
      </div>
    </div>
  </section>
</div>

<div class="footer">
  <form th:action="@{/logout}" method="get">
    <button type="submit" class="footer-btn"></button>
  </form>
</div>

</body>
</html>