<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Professor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/perfilProfessor.css">
</head>

<body>

<div class="header">
  <a href="/home-professor">
    <img src="/assinatura.png" alt="Assinatura InovaLab">
  </a>
  <div>
    <a href="/home-professor/minhas-iniciativas" class="header-btn">Minhas Iniciativas</a> <!--Ainda nao esta pegando pois precisa fzr a logica-->
    <a href="/home-professor/perfil-professor" class="header-btn">Perfil</a>
    <img src="/fotoPerfil.png" alt="Foto de perfil InovaLab">
  </div>
</div>

<div class="container">
  <section class="profile">
    <div class="profile-left">
      <img src="/fotoPerfil.png" alt="Foto do perfil" class="profile-img">
      <h3 class="user-type" th:text="${userType}"></h3>
    </div>
    <div class="profile-info">
      <h1 class="name" th:text="${nomeUsuario}"></h1>
      <p class="description" th:text="${descricao}"></p>
      <p class="description" th:text="${mensagemSobreVoce}"></p>
      <a href="/home-professor/editar" class="edit-profile-btn">Editar perfil</a>
    </div>
  </section>

  <section class="initiatives">
    <h2>Iniciativas pelas quais você é responsável:</h2>
    <div class="row">
      <div class="col-md-4" th:each="iniciativa : ${iniciativa}">
        <div class="card mb-4 initiative-card">
          <div class="card-body">
            <a th:href="@{/home-professor/perfil-professor/{id}(id=${iniciativa.id})}" class="stretched-link"></a>
            <h5 class="card-title" th:text="${iniciativa.titulo}">Título da Iniciativa</h5>
            <p class="card-text" th:text="${iniciativa.descricao}">Descrição da Iniciativa</p>
            <p><strong>Professor Responsável:</strong><span th:text="${iniciativa.professor != null ? iniciativa.professor.nome : 'Professor não atribuído'}">
              Nome do Professor
          </span></p>
          </div>
        </div>
      </div>
  </section>
</div>

<div class="footer">
  <form th:action="@{/logout}" method="get">
    <button type="submit" class="footer-btn"></button>
  </form>
</div>

</body>
</html>