* {
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F6EEEE;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray; /* Borda cinza */
    color: #333;
    /*color: gray;*/
    cursor: pointer; /* Indica que o botão é clicável */
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase; /* Para deixar as letras maiúsculas */
    transition: all 0.3s ease; /* Transição suave para os efeitos */
    font-size: 16px; /* Tamanho da fonte */
}

.header-btn:hover {
  background-color: #f0f0f0; /* Cor de fundo leve quando passar o mouse */
  color: #333; /* Cor das letras ao passar o mouse */
}
.header img {
    height: 50px;
    margin-left: 30px;
}

.cabecalho {
    margin-left: 100px;
    margin-top: 30px;
}

h1 {
    color: #EB6324;
}

h3 {
    color: #7F7F7F;
}

h5 {
    color: #7F7F7F;
    align-self: center;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #007BFF;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; /* Ajusta o formulário para ocupar todo o espaço */
    position: relative;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 46px;
    border: 1px solid #F6EEEE;
    border-radius: 5px;
    background-color: #F6EEEE;
}

textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 90px;
    border: 1px solid #F6EEEE;
    border-radius: 5px;
    background-color: #F6EEEE;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

/* Estilos para mensagens de erro */
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

.user-type {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    color: #EB6324;
    border: 1px solid #EB6324;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 120px;
    height: 50px;
    align-self: flex-end;
    margin-right: 30px;
}

.button:hover, .header-btn:hover {
    background-color: #aeb6bf;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ccc;
}

.divisao {
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    display: grid;
    grid-template-columns: 30% 70%;

}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
    padding: 0;
    margin-left: 50px;

}

.left-column img {
    align-self: flex-start;
    margin-top: 80px;
    margin-left: 125px;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    object-fit: cover;
}

.container {

    justify-content: left;
    align-items: left;
    padding: 20px;
    border-radius: 8px;
    margin-right: 200px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-image: url('footer.png'); /* Caminho para a imagem */
    background-size: cover; /* A imagem cobre todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%;
    bottom: 0;
    color: #d34600; /* Cor do texto */
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
    z-index: 1; /* Coloca a imagem como fundo */
    position: relative; /* Deixe o rodapé seguir o fluxo normal da página */
    bottom: auto;

}

.footer-btn {
    padding: 30px 131px;
    text-decoration: none;
    margin-right: 95px;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    color: #d34600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2; /* Garante que o botão fique acima da imagem */
}

.footer-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
    border-color: #333;
}
