* {
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray; /* Borda cinza */
    color: #333;
    /*color: gray;*/
    cursor: pointer; /* Indica que o botão é clicável */
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase; /* Para deixar as letras maiúsculas */
    transition: all 0.3s ease; /* Transição suave para os efeitos */
    font-size: 16px; /* Tamanho da fonte */
}

.header-btn:hover {
  background-color: #f0f0f0; /* Cor de fundo leve quando passar o mouse */
  color: #333; /* Cor das letras ao passar o mouse */
}
.header img {
    height: 50px;
    margin-left: 30px;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

.divisao{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
header h1 {
    font-size: 24px;
    margin: 0;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #007BFF;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
select,
textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

/* Estilos para mensagens de erro */
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

.user-type {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #bdc3c7;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover, .header-btn:hover {
    background-color: #aeb6bf;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ccc;
}

.container {
    max-width: 600px;
    justify-content: left;
    align-items: left;
    padding: 20px;
    border-radius: 8px;
}

/*.left-column, .right-column {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
}*/

.left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;

}

.left-column img {
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    background-color: #f1f1f1;
    width: 100%;
    position: relative;
    margin-top: 30px;
    bottom: 0;
}
