/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F6EEEE;
}

.header img {
    height: 50px;
    margin-left: 30px;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray; /* Borda cinza */
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px; /* Tamanho da fonte */
    text-align: center;
    text-transform: uppercase; /* Para deixar as letras maiúsculas */
}

.header-btn:hover {
    background-color: #f0f0f0;
    color: #333;
}

.header-btn:active {
    background-color: #95a5a6;
    color: #333;
}

html, body {
    margin-top: 20px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column; /* Empilha os elementos em coluna */
}

/* Contêiner principal da página */
.main-content {
    flex: 1; /* Faz com que este elemento preencha o espaço restante */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-image: url('footer.png'); /* Caminho para a imagem */
    background-size: cover; /* A imagem cobre todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%;
    margin-top: 40px;
    bottom: 0;
    color: #d34600; /* Cor do texto */
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
    z-index: 1; /* Coloca a imagem como fundo */
}

.footer-btn {
    padding: 30px 131px;
    text-decoration: none;
    margin-right: 80px;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    color: #d34600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2; /* Garante que o botão fique acima da imagem */
}