.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
}

.header img {
    height: 50px;
    margin-left: 30px;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray; /* Borda cinza */
    color: #333;
    /*color: gray;*/
    cursor: pointer; /* Indica que o botão é clicável */
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase; /* Para deixar as letras maiúsculas */
    transition: all 0.3s ease; /* Transição suave para os efeitos */
    font-size: 16px; /* Tamanho da fonte */
}

.header-btn:hover {
  background-color: #f0f0f0; /* Cor de fundo leve quando passar o mouse */
  color: #333; /* Cor das letras ao passar o mouse */
}

.divisao {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

.left-column img {
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 600px;
    justify-content: left;
    align-items: left;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 3px;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

button {
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    background-color: #bdc3c7 !important;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover, .header-btn:hover {
    background-color: #aeb6bf !important;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ccc;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-image: url('footer.png'); /* Caminho para a imagem */
    background-size: cover; /* A imagem cobre todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #d34600; /* Cor do texto */
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
    z-index: 1; /* Coloca a imagem como fundo */
}

.footer-btn {
    padding: 30px 131px;
    text-decoration: none;
    margin-right: 95px;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    color: #d34600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2; /* Garante que o botão fique acima da imagem */
}

.footer-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
    border-color: #333;
}
