/* Corpo Geral */
body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F6EEEE;
}

.header img {
    height: 50px;
    margin-left: 30px;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray; /* Borda cinza */
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px; /* Tamanho da fonte */
    text-align: center;
    text-transform: uppercase; /* Para deixar as letras maiúsculas */
}

.header-btn:hover {
    background-color: #f0f0f0;
    color: #333;
}

.header-btn:active {
    background-color: #95a5a6;
    color: #333;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Main Content */
.main-content {
    display: flex;
    padding: 40px;
    gap: 40px;
}

/* Left Panel */
.left-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Right Panel */
.right-panel {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.input,
.select,
.textarea {
    width: 70%;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f6eeee;
}

.textarea {
    resize: none;
    height: 70px;
}

.btn-group {
  display: flex;
  gap: 80px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 13px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 170px;
  font-family: 'Lexend', sans-serif;
}

.btn-primary {
  background-color: #ff7f50;
  padding: 10px 20px;
  color: white;
  border: 1px solid #ff7f50;
}

.btn-primary:hover {
  background-color: #ff6347;
}

.btn-secondary {
  background-color: #f5f5f5;
  color: #ff7f50;
  border: 1px solid #ff7f50;
}

.btn-secondary:hover {
  background-color: #e5e5e5;
}


.btn-danger {
  background-color: #f5f5f5;
  padding: 10px 20px;
  color: #ff7f50;
  border: 1px solid #ff7f50;
}

.btn-danger:hover {
    background-color: #e74c3c;
    color: white;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-image: url('footer.png'); /* Caminho para a imagem */
    background-size: cover; /* A imagem cobre todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%;
    margin-top: 40px;
    bottom: 0;
    color: #d34600; /* Cor do texto */
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
    z-index: 1; /* Coloca a imagem como fundo */
}

.footer-btn {
    padding: 30px 131px;
    text-decoration: none;
    margin-right: 80px;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    color: #d34600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2; /* Garante que o botão fique acima da imagem */
}