/* Ajustes de altura */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.main-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Divisão das colunas */
.left-column, .right-column {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
}

.left-column {
    background-color: transparent;
    padding: 0;
}

.left-column img {
    width: 60%;
    height: auto;
    object-fit: contain;
    margin-right: 60px;
}

.right-column {
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #F6EEEE;
    text-align: left; /* Isso vai alinhar todo o conteúdo à esquerda dentro da right-column */
}

.right-column h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #c5202e;
    font-weight: bold;
    text-align: left; /* Alinha o título "Faça o login!" à esquerda */
}

.right-column form {
    width: 100%; /* Garante que o formulário ocupe a largura total */
}

.right-column label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Alinha as labels à esquerda */
}

.right-column input[type="email"],
.right-column input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.right-column button {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border-radius: 50px;
    background-color: transparent;
    color: #c5202e;
    border: 2px solid #c5202e;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.right-column button:hover {
    background-color: #c5202e;
    color: white;
    border-color: #c5202e;
}

/* Estilo para as mensagens de erro e sucesso */
.alert {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 10px;
}

/* Container para os textos "Não tem conta?" e "Cadastre-se" */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilo para o texto "Não tem conta?" */
.register-text {
    font-weight: normal;
    color: #333;
    margin-right: 5px;
}

/* Estilo para o link de cadastro */
.register-link {
    color: #FFA500;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

/* Efeito de hover no link */
.register-link:hover {
    color: #ff7f00;
    text-decoration: none;
}
