/* Reset e configurações globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F6EEEE;
}

.header img {
    height: 50px;
    margin-left: 30px;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.header-btn:hover {
    background-color: #f0f0f0;
    color: #333;
}

.header-btn:active {
    background-color: #95a5a6;
    color: #333;
}

/* Estilo para o conteúdo principal */
.main-content {
    padding: 20px 40px;
    flex-grow: 1; /* Faz o conteúdo crescer para ocupar o espaço restante */
}

/* Estilos do botão */
.btn {
    flex: 1;
    max-width: 200px;
    padding: 15px 0;
    font-size: 18px;
    background-color: #bdc3c7;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.btn:hover, .header-btn:hover {
    background-color: #aeb6bf;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ccc;
}

.btn:active, .header-btn:active {
    background-color: #95a5a6;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
}

/* Cards de iniciativas */
.initiative-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.initiative-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.initiative-card .card-body {
    padding: 20px 20px 60px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.image-button {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    text-align: right;
    z-index: 2;
    overflow: hidden;
}

.image-button img {
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-button img:hover {
    transform: scale(1.1);
}

.initiativa-card .card-title {
    font-size: 20px;
    font-weight: bold;
}

.iniciativa-card .card-text {
    font-size: 16px;
    color: #333;
}

.stretched-link {
    z-index: 1;
}

/* Estilo do botão de adicionar nova iniciativa */
.add-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: 2px dashed #aaa;
    text-decoration: none;
}

.add-new:hover {
    background: #d9d9d9;
}

/* Footer */
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-image: url('footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: #d34600;
    box-sizing: border-box;
    z-index: 1;
    margin-top: auto; /* Faz com que o footer vá para o final da página */
}

.footer-btn {
    padding: 30px 131px;
    text-decoration: none;
    margin-right: 80px;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    color: #d34600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2;
}
