/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F6EEEE;
}

.header img {
    height: 50px;
    margin-left: 30px;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray; /* Borda cinza */
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px; /* Tamanho da fonte */
    text-align: center;
    text-transform: uppercase; /* Para deixar as letras maiúsculas */
}

.header-btn:hover {
    background-color: #f0f0f0;
    color: #333;
}

.header-btn:active {
    background-color: #95a5a6;
    color: #333;
}

html, body {
    height: auto;
    min-height: 100%;
    margin: 0;
    display: block;
    flex-direction: column;
    font-family: Arial, sans-serif;
}



.divisao {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-column {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    border: 1px solid #F6EEEE;
    border-radius: 5px;
    background-color: #F6EEEE;
}

input[type="date"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid #F6EEEE;
    border-radius: 5px;
    background-color: #F6EEEE;
}

textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #F6EEEE;
    background-color: #F6EEEE;
}

.main-content {
    display: block;
    padding-bottom: 20px; /* Para evitar que o conteúdo grude no rodapé */
}

/* Estilo para o botão Atualizar */
.btn-atualizar {
     background-color: #EB6324; /* Laranja */
     color: white; /* Texto branco */
     border: none; /* Sem borda */
     padding: 10px 40px; /* Ajuste para garantir o formato oval */
     font-size: 16px;
     border-radius: 25px; /* Tornar o botão oval */
     transition: background-color 0.3s ease;
 }

.btn-atualizar:hover {
     background-color: #FF8C00; /* Laranja mais escuro no hover */
     color: white;
 }


 /* Estilo para o botão Voltar (Cancelar) */
.btn-voltar {
     background-color: transparent; /* Fundo transparente */
     color: #EB6324; /* Texto laranja */
     border: 2px solid #EB6324; /* Borda laranja */
     padding: 10px 40px; /* Ajuste para garantir o formato oval */
     font-size: 16px;
     border-radius: 25px; /* Tornar o botão oval */
     transition: background-color 0.3s ease;
 }

.btn-voltar:hover {
     background-color: rgba(255, 165, 0, 0.1); /* Fundo laranja claro no hover */
     color: #FF8C00; /* Texto laranja mais escuro */
     border-color: #FF8C00; /* Borda laranja mais escura */
 }

 /* Estilo para o botão Adicionar */
.btn-adicionar {
     background-color: #F6EEEE; /* Cor de fundo */
     color: #EB6324; /* Cor da letra */
     border: 2px solid #EB6324; /* Borda laranja */
     padding: 10px 40px; /* Tamanho do botão */
     font-size: 16px;
     border-radius: 25px; /* Borda arredondada */
     text-align: center;
     cursor: pointer;
     transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
 }

.btn-adicionar:hover {
     background-color: #EB6324; /* Fundo laranja no hover */
     color: white; /* Cor da letra branca no hover */
     border-color: #EB6324; /* Mantém a borda laranja */
 }



/* Footer */
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-image: url('footer.png'); /* Caminho para a imagem */
    background-size: cover; /* A imagem cobre todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%;
    bottom: 0;
    color: #d34600; /* Cor do texto */
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
    z-index: 1; /* Coloca a imagem como fundo */
    position: relative; /* Deixe o rodapé seguir o fluxo normal da página */
    bottom: auto;
}

.footer-btn {
    padding: 30px 131px;
    text-decoration: none;
    margin-right: 95px;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    color: #d34600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2; /* Garante que o botão fique acima da imagem */
}

.footer-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
    border-color: #333;
}
