@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F6EEEE;
}

.header img {
    height: 50px;
    margin-left: 30px;
}

.header-btn {
    flex: 1;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid gray; /* Borda cinza */
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px; /* Tamanho da fonte */
    text-align: center;
    text-transform: uppercase; /* Para deixar as letras maiúsculas */
}

.header-btn:hover {
    background-color: #f0f0f0;
    color: #333;
}

.header-btn:active {
    background-color: #95a5a6;
    color: #333;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-left {
  display: flex;
  flex-direction: column; /* Coloca imagem e userType em coluna */
  align-items: center; /* Centraliza os itens na coluna */
  gap: 10px;
   /* Espaçamento entre imagem e userType */
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
     gap: 40px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 230px;
    align-items: flex-start;
}

.profile-info {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-type {
  font-size: 16px;
  font-weight: 400;
  color: #ff7f50;
  text-align: center; /* Centraliza o texto */
  margin-top: 5px;
   margin-right: 240px;/* Adiciona um pequeno espaço acima */
}


.name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #555;
}

.edit-profile-btn {
  background-color: transparent;
  color: #ff7f50;
  border: 2px solid #ff7f50;
  border-radius: 13px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  width: 150px;
  text-align: center;
  align-self: center; /* Garante que o botão fique centralizado */
}

.edit-profile-btn:hover {
  background-color: #ff7f50;
  color: #fff;
}

/* Iniciativas */
.initiative-card {
    background-color: #F6EEEE;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.initiative-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.initiative-card .card-body {
    padding: 20px 20px 60px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.row {
   margin-top: 20px;
}

.initiativa-card .card-title {
    font-size: 20px;
    font-weight: bold;
}

.iniciativa-card .card-text {
    font-size: 16px;
    color: #333;
}

.stretched-link {
    z-index: 1;
}


/* Footer */
.footer {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    background-image: url('footer.png'); /* Caminho para a imagem */
    background-size: cover; /* A imagem cobre todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 100%;
    bottom: 0;
    color: #d34600; /* Cor do texto */
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
    z-index: 1; /* Coloca a imagem como fundo */
}

.footer-btn {
    padding: 30px 131px;
    text-decoration: none;
    margin-right: 80px;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    color: #d34600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2; /* Garante que o botão fique acima da imagem */
}